@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  min-height: 100vh;
  width: 100%;
  background: #f9f6f6;
}

.light-shadow {
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}

.search__field {
  padding: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid lightgray;
  flex-direction: column;
}

.search__fields {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid lightgray;
}

.search__fields > input {
  height: 50px;
  width: 100%;
  margin: 20px;
  outline: none;
  padding: 10px;
  border: 2px solid lightblue;
  font-size: 1.2rem;
  border-radius: 10px;
}

#result {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#result > .card {
  min-height: 400px;
  width: 400px;
  background-color: white;
  border-radius: 8px;
  margin: 30px;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
}

#result > .card > img {
  height: 250px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

#result > .card > p {
  font-size: 15px;
  margin: 0 10px;
}

.food__price {
  margin-top: 5px;
}

@media all and (max-width: 850px) {
  .search__fields > input {
    height: 30px;
    max-width: 300px;
  }
}

@media all and (max-width: 800px) {
  .search__fields {
    flex-direction: column;
  }
}
